*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
}
.nav{
    display: flex;
    margin-bottom: 20px;
}
.card{
    border: 1px solid black;
    width: 13vw;
    height: 7vw;
    margin: 5px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    /* opacity: 0; */
}
#cardsBoard{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
}
#newGame{
    margin-right: 20vw;
}
button{
    cursor: pointer;
    background-color: #005F71;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: white;
}
img{
    width: inherit;
    height: inherit;
    border: none;
    /* opacity: 0; */
}
#score{
    font-weight: bold;
    color: white;
}